/* src/ProductList.css */

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}
.cart-list{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    background-color:greenyellow

}
.Buy-list{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    background-color:violet
}




